.footer-social {
  margin-left: 70px;
}
.footer-link {
  display: flex;
}
.link-item {
  width: 44px;
  height: 44px;
  align-content: center;
  border-radius: 50%;
  color: $second-accent-color;
  background-color: rgba(255, 255, 255, 0.1);

  padding: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer-social {
  padding-top: 15px;
}
.text-footer {
  margin-bottom: 20px;
  width: 145px;
  height: 18.4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $second-accent-color;
}
.social-footer {
  fill: currentColor;
}
.footer-link .item:not(:last-child) {
  margin-right: 10px;
}

.link-item:hover,
.link-item:focus {
  background-color: $accent-color;
}