.address {
  display: block;
  width: 231px;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
  color: #ffffff;
}
.address-link .item:not(:last-child) {
  margin-bottom: 9px;
}
.address .mail,
.address .tel {
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.address .map {
  color: var(--second-accent-color);
}
.address .link:hover,
.address .link:focus {
  color: $accent-color;
}

.address-link .item:not(:last-child) {
  margin-bottom: 9px;
}